<footer class="site-footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-brand">
        <i class="fa-solid fa-house-chimney"></i>
        <span>ApnaGhar</span>
      </div>
      <div class="footer-links">
        <span>Privacy</span>
        <span>Terms</span>
        <span>Support</span>
      </div>
      <div class="footer-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="footer-copy">&copy; 2024 ApnaGhar Private Limited. All rights reserved.</div>
  </div>
</footer>
